.env
.envrc
.rvmrc
.idea
.vagrant
.rspec_persistence
.DS_Store
.rails_generators~
project.kpf
*sublime-*
*.orig
public/assets/
vendor/cache
.redcar*
.bundle
db/*.sqlite3
log/*
tmp/*
.DS_Store
nbproject/**/*
coverage
coverage.data
.rvmrc*
.idea
*.ignore
*.db
.*.swp
spec/tmp/*
.rstrip

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
